<nav class="navbar navbar-inverse  navbar-toggleable-md " style="background-color:#1C2331">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="containerNavbar" style="background-color:#1C2331">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active" >
                    <a class="nav-link" routerLink="/" >Home</a>
                </li>
            </ul>
        </div>
</nav>

<div class="container" >  
    <router-outlet></router-outlet>
</div>